body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004b49;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header #logo {
    max-width: 120px; /* Ajustez la taille du logo ici */
    height: auto;
    position: absolute;
    left: 20px;
    top: 20px;
}

header h1 {
    margin: 0;
    padding-top: 10px;
}

nav {
    background-color: #00796b;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #004d40;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px);
    padding: 20px;
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

h1, h2 {
    color: #004b49;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #00796b;
}

.form-group input, .form-group button, .form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="date"] {
    width: auto;
}

.form-group button {
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.form-group button:hover {
    background-color: #004d40;
}

#presidentFieldsContainer, #memberFieldsContainer {
    margin-top: 20px;
}

#presidentFieldsContainer .field-group, #memberFieldsContainer .field-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#presidentFieldsContainer textarea, #memberFieldsContainer textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#presidentFieldsContainer select, #memberFieldsContainer select {
    margin-left: 10px;
}

footer {
    background-color: #004b49;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

.inline-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inline-group span {
    margin-right: 10px;
}

.inline-group input[type="date"] {
    width: 120px;
    margin: 0 10px;
}

.hidden {
    display: none;
}
